@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1b151e;
}

.conversor{
  text-align: center;
}

/* Agrega esto en un archivo styles.css */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  font-family: 'Arial, sans-serif'; /* Cambia 'Arial, sans-serif' por tu fuente preferida */
  font-weight: bold; /* Puedes cambiar 'bold' por 'normal' u otros valores numéricos como 400, 700, etc. */
}

/* Otros estilos aquí según sea necesario */
